<h1>{{article.name}}</h1>
<p>Published {{article.published}}</p>
<p>Author: <a href="/author/{{article.author_id}}">{{author_name}}</a></p> <!-- Autori nimi lingina -->
<p><img src="/images/{{article.image}}" alt=""></p>
<p>{{{article.body}}}</p>
